
<body ng-app="app" ng-controller="primary" style = "font-family: 'Arial';
      font-size: 11px;
      line-height: 1.2;
      color: #333;
      font-weight: 500;" >

  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">

  </head>

<body ng-app="app"
  ng-controller="primary"
  class="text-justify"
  style ="font-family: "Arial";
          font-size: 12px;
          line-height: 1;
          color: #333;
          font-weight: 500;">

  <div class="row">
    <div class="col-xs-12">
      <h5 style="text-align: center;
      margin-top: 1em;
      margin-bottom: .1em;">
       <b>DELEGATION AGREEMENT</b></h5>
    </div>
  </div>
  <div class="row" style="border: 1px solid black;
                          margin-left: 1em;
                          margin-right: 1em;">
    <div class="col-xs-12" style="height: 25px;">
      <p>
        <h5 style="margin: 0px;">
          <b>BLACK HILLS ENERGY RESIDENTIAL &amp; COMMERCIAL CHOICE GAS PROGRAM</b>
        </h5>
      </p>
    </div>
    <div class="row" style="margin-left: 1em;
                            margin-right: 1em;" >
      <div class="col-xs-4" style="padding: 0px;
                                  width: 160px;">
        <h5 style="margin: 0px;
                  width: 200px;">
          <b>Check Appropriate box: </b>
        </h5>
      </div>
      <div class="col-xs-3" style="width: 170px;">
        <input type="checkbox" ng-checked="nebraskaResidentialProgram()" ng-model="nebraskaResidential" value="Nebraska Residential"> Nebraska Residential
      </div>
      <div class="col-xs-2 " style="width: 105px;">
          <input type="checkbox" ng-checked="nebraskaResidentialOneYear"   value="1"> One-Year
      </div>
      <div class="col-xs-2 ">
          <input type="checkbox" ng-checked="nebraskaResidentialTwoYear"  value="2"> Two-Year
      </div>
    </div>
    <div class="row" style="margin-left: 1em;
                            margin-right: 1em;" >
      <div class="col-xs-4" style="padding: 0px;
                                  width: 160px;">
      </div>
      <div class="col-xs-3 " style="width: 171px;">
        <input type="checkbox" ng-checked="nebraskaCommercialProgram()" ng-model="nebraskaCommercial" value="Nebraska Residential"> Nebraska Commercial
      </div>
      <div class="col-xs-2 " style="width: 105px;">
        <input type="checkbox" ng-checked="nebraskaCommercialOneYear" value="1"> One-Year
      </div>
      <div class="col-xs-2 ">
        <input type="checkbox" ng-checked="nebraskaCommercialTwoYear" value="2"> Two-Year
      </div>
      <div class="col-xs-2 ">
          <input type="checkbox" ng-checked="nebraskaCommercialThreeYear" value="3"> Three-Year
      </div>
    </div>
    <div class="row" style="margin-left: 1em;
                            margin-right: 1em;" >
      <div class="col-xs-4" style="padding: 0px;width: 160px;">
      </div>
      <div class="col-xs-3 " style="width: 171px;">
          <input type="checkbox" ng-checked="wyomingResidentialProgram()" ng-model="wyomingResidential" value="Nebraska Residential"> Nebraska Commercial
      </div>
      <div class="col-xs-2 " style="width: 105px;">
          <input type="checkbox" ng-checked="wyomingResidentialOneYear"  ng-model="wyomingResidential.oneYear" value="1"> One-Year
      </div>
      <div class="col-xs-2 ">
          <input type="checkbox" ng-checked="wyomingResidentialTwoYear" ng-model="wyomingResidential.twoYear" value="2"> Two-Year
      </div>
    </div>
    <div class="row" style="margin-left: 1em;
    margin-right: 1em;" >
      <div class="col-xs-4" style="padding: 0px;width: 160px;">
      </div>
      <div class="col-xs-3 " style="width: 171px;">
          <input type="checkbox" ng-checked="wyomingCommercialProgram()" ng-model="wyomingCommercial" value="Nebraska Residential"> Nebraska Commercial
      </div>
      <div class="col-xs-2 " style="width: 105px;">
          <input type="checkbox" ng-checked="wyomingCommercialOneYear"  ng-model="wyomingCommercial.oneYear" value="1"> One-Year
      </div>
      <div class="col-xs-2 ">
          <input type="checkbox" ng-checked="wyomingCommercialTwoYear" ng-model="wyomingCommercial.twoYear" value="2"> Two-Year
      </div>
      <div class="col-xs-2 ">
          <input type="checkbox" ng-checked="wyomingCommercialThreeYear" ng-model="wyomingCommercial.ThreeYear" value="3"> Three-Year
      </div>
    </div>
  </div>
  <div style="border: 1px solid black;
              padding: 1px;
              margin-top: 1em;
              margin-left: 1em;
              margin-right: 1em;
              margin-bottom: .2em">

  <div class="row">
    <div class="col-xs-1" style="padding-left: 25px;
                                padding-right: 0px;
                                height: 20px;
                                width: 35px;">
      <input type="checkbox" ng-checked="nebraskaAgriculturalProgram()" ng-model="nebraskaAgricultural" value="nebraska Agricultural">
    </div>
      <div class="col-xs-10" style="padding-top: 4px;
                                    padding-left: 10px;">
        <p style="margin-bottom: 3px;">
          <b>BLACK HILLS ENERGY NEBRASKA AGRICULTURAL CHOICE GAS PROGRAM</b>
        </p>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-4" style="padding-right: 0px;
                                  padding-left: 26px;
                                  width: 258px;
                                  margin-top: 4px;">
        <b>Check Appropriate Supply Arrangement: </b>
      </div>
      <div class="col-xs-2 " style="width: 98px;">
        <input type="checkbox" ng-checked="nebraskaAgriculturalOneYear" ng-model="nebraskaAgricultural" value="1" > One-Year
      </div>
      <div class="col-xs-2 " style="width: 105px;">
        <input type="checkbox" ng-checked="nebraskaAgriculturalTwoYear" value="2" > Two-Year
      </div>
      <div class="col-xs-2 ">
        <input type="checkbox" ng-checked="nebraskaAgriculturalThreeYear" value="3"> Three-Year
      </div>
    </div>
  </div>


  <div style="padding: 5px;
              margin-left: 1em;
              margin-right: 1em;
              margin-bottom: .2em">
    <p>
      I <u style="text-decoration: underline;"> {{values.fullName}} </u> (Customer) herby designate
      <u>{{values.contractorName}}</u> (Contractor) to make a supplier and price option selection on my
      behalf for the <u>{{values.programYears}}</u> (Program Year(s)) Choice Gas Program designated above.
      This agreement covers the following account(s):
    </p>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div style="width:100%; border-bottom: 1px solid black;">
          <p>{{values.account}}</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-12">
        <div style="width:100%; border-bottom: 1px solid black;">
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <p>
      This executed Delegation Agreement must be received by Black Hills Gas Distribution, LLC
      d/b/a Black Hills Energy ("Black Hills Energy") as Choice Gas Program administrator
      (Administrator) prior to the selection deadline for the applicable Choice Gas Program
      (11:59 p.m. on [ last day of the applicable balloting period]). If the Customer submits
      a valid Choice Gas selection prior to the Administrator receiving this Delegation Agreement,
       the Delegation Agreement will be considered null and void.
    </p>

    <p>
      By execution hereof, Contractor accepts its designation and appointment for the Customer and
      agrees to act as Contractor for Customer in accordance with the terms hereof. Contractor acknowledges
      and affirms that it is a supplier in compliance with any and all applicable statutes, rules,
      and regulations of the governing authority and participating as a supplier in the Choice Gas
      Program provided by Black Hills Energy to the Customer. Contractor shall clearly specify it
      is acting within the scope of its authority on behalf of Customer in all actions taken in its
      role of Contractor.
    </p>

    <p>
      Customer and Contractor acknowledge that Black Hills Energy, its officers, agents, affiliates
     and parent companies are third party beneficiaries to this Delegation Agreement and by execution
     hereof, Customer and Contractor, individually and jointly agree to indemnify and hold Black Hills Energy,
     its officers, agents, affiliates and parent companies harmless from any and all liabilities, losses, damages,
      expenses and other obligations of any nature whatsoever including attorney fees incurred in defense of such
      actions that Black Hills Energy, its officers, agents, affiliates and parent companies that
      they may suffer either individually or collectively as a result of any and all claims,
      demands, costs, attorney fees and judgments made against them resulting from their reliance
      on this Delegation Agreement and/or the Contractor's actions, including but not limited to
      actions taken by Black Hills Energy pursuant to Contractor's actions or inaction under this Agreement.
    </p>

    <p>
      Customer agrees to select Contractor as its gas supplier under Black Hills Energy's
      Choice Gas Program, and Customer hereby appoints Contractor to submit Customer's Black Hills
      Energy Choice Gas selection in order to facilitate the parties' performance under this agreement.
    </p>

    <p>The parties acknowledge that receipt by Administrator of an executed Delegation Agreement
       transmitted by mail, facsimile, electronic delivery, or other recognized means of delivery,
      shall constitute a valid enforceable agreement and shall legally bind the parties accordingly.
      Once executed, it may not be revoked by the Customer.
    </p>

    <p>
      This agreement expires at the end of the Program Year(s) stated above.
    </p>
    <p>
      By signing this Agreement, Contractor represents and warrants that Contractor has provided a complete and true copy of this Delegation Agreement to
      Customer. By signing this Agreement, Customer acknowledges receipt of a complete copy of this Delegation Agreement from Contractor.
    </p>

  </div>

  <br>

  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;" >
        <p style="border-bottom: 1px solid black; ">
          By: {{values.signature.signature}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center;">
          (Customer Signature)
        </div>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style="border-bottom: 1px solid black; ">
          By: {{values.contractorName}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center;">
          (contractor Signature)
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style=" padding-left: 0px;">
        <p style=" border-bottom: 1px solid black; ">
          Name: {{values.signature.signature}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center; padding-left: 0px;">
          (Customer Signature)
        </div>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px; " >
        <p style="border-bottom: 1px solid black; padding-left: 0px;">
          Name: {{values.contractorName}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center; padding-left: 0px;">
          (contractor Signature)
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style=" border-bottom: 1px solid black; ">
          Title: {{values.signature.signature}}
        </p>
      </div>

    </div>
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;" >
        <p style="border-bottom: 1px solid black; ">
          Title: {{values.contractorName}}
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style=" border-bottom: 1px solid black; ">
          address:
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style=" border-bottom: 1px solid black; ">
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style="border-bottom: 1px solid black; ">
          Phone NO:
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 25em">
    <div class="col-xs-6" style="padding-left: 0px;">
      <div class="col-xs-12" style="padding-left: 0px;">
        <p style="border-bottom: 1px solid black; ">
          Date:  {{formatDate(values.signature.date)}}
        </p>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>

    <div class="row" style="border: 1px solid black;
                                      margin-left: 1em;
                                      margin-right: 1em;
                                      padding: 10px;
                                      margin-top: 10em">
      <div class="row">
        <div class="col-xs-3">
          <p>
            WoodRiver Confirm #:
          </p>
        </div>
        <div class="col-xs-9">
          <p>
            {{values.confirmNumber}} 1111111
          </p>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        SourceGas Account #:
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          {{values.account}} 111111111
        </p>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        Account Info:
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          {{values.address}} 1232 some address
        </p>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        Selection:
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          {{values.Selection}} 99
        </p>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        # of Years:
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          {{values.years}}99
        </p>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        price
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          {{values.price}} 99
        </p>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-3">
        <p>
        Terms and Conditions
        </p>
      </div>
      <div class="col-xs-9">
        <p>
          The commodity price shall be the the agreed upon fixed price ($/Therm). The fixed price is guaranteed for the term of the agreement.
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-left: 44px;">
          <img src ="http://www.iowarestaurantresources.com/images/allied-logos/161.jpg" alt="WoodRiver Energy LLC" height="40">
        </div>
        </div>
      </div>
    </div>



  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script>
      angular.module('app', []).controller('primary', function($scope) {
              $scope.values = document.values;
              $scope.formatDate = function(date) {
                console.log('Formatting: ', date);
                return new Date(date).toDateString();
              };

              $scope.nebraskaResidentialProgram = function() {
                var data = {
                  state: 'Nebraska',
                  billClass: 'Residential',
                  term: 'one Year'
                };
                if (data.state && data.billClass === 'Residential' && 'Nebraska') {
                  $scope.nebraskaResidential = true;
                }
                if (data.term === 'one Year') {
                  $scope.nebraskaResidentialOneYear = true;
                }
                if (data.term === 'two Year') {
                  $scope.nebraskaResidentialTwoYear = true;
                }
              };

              $scope.nebraskaCommercialProgram = function() {
                var data = {
                  state: 'Nebraska',
                  billClass: 'Commercial',
                  term: 'three Year'
                };
                if (data.state && data.billClass === 'Commercial' && 'Nebraska') {
                  $scope.nebraskaCommercial = true;
                }
                if (data.term === 'one Year') {
                  $scope.nebraskaCommercialOneYear = true;
                }
                if (data.term === 'two Year') {
                  $scope.nebraskaCommercialTwoYear = true;
                }
                if (data.term === 'three Year') {
                  $scope.nebraskaCommercialThreeYear = true;
                }
              };

              $scope.wyomingResidentialProgram = function() {
                var data = {
                  state: 'Wyoming',
                  billClass: 'Residential',
                  term: 'two Year'
                };
                if (data.state && data.billClass === 'Residential' && 'Wyoming') {
                  $scope.wyomingResidential = true;
                }
                if (data.term === 'one Year') {
                  $scope.wyomingResidentialOneYear = true;
                }
                if (data.term === 'two Year') {
                  $scope.wyomingResidentialTwoYear = true;
                }
              };

              $scope.wyomingCommercialProgram = function() {
                var data = {
                  state: 'Wyoming',
                  billClass: 'Commercial',
                  term: 'three Year'
                };
                if (data.state && data.billClass === 'Commercial' && 'Wyoming') {
                  $scope.wyomingCommercial = true;
                }
                if (data.term === 'one Year') {
                  $scope.wyomingCommercialOneYear = true;
                }
                if (data.term === 'two Year') {
                  $scope.wyomingCommercialTwoYear = true;
                }
                if (data.term === 'three Year') {
                  $scope.wyomingCommercialThreeYear = true;
                }
              };

              $scope.nebraskaAgriculturalProgram = function() {
                var data = {
                  state: 'Nebraska',
                  billClass: 'Agricultural',
                  term: 'three Year'
                };
                if (data.state && data.billClass === 'Agricultural' && 'Nebraska') {
                  $scope.nebraskaAgricultural = true;
                }
                if (data.term === 'one Year') {
                  $scope.nebraskaAgriculturalOneYear = true;
                }
                if (data.term === 'two Year') {
                  $scope.nebraskaAgriculturalTwoYear = true;
                }
                if (data.term === 'three Year') {
                  $scope.nebraskaAgriculturalThreeYear = true;
                }
              };

            });
        </script>
</body>
